.DS_Store
node_modules
*/node_modules
/build
*/.svelte-kit
*/package
.env
.env.*
!.env.example
vite.config.js.timestamp-*
vite.config.ts.timestamp-*
**/__pycache__/
/backend/data/test.db
.venv/
.vscode/
/.venv/
/.vscode/
.venv
.vscode
**/.pytest_cache/**
/sveltekit-chess-env/
/chess-model-env/
terraform/secret.json
terraform/terraform.tfstate
terraform/terraform.tfstate.backup
terraform/.terraform.lock.hcl
terraform/.terraform/providers/registry.terraform.io/hashicorp/google/4.51.0/windows_amd64/terraform-provider-google_v4.51.0_x5.exe
terraform/secret.tfvars
**secret.json**
terraform/.terraform/
terraform/.terraform/providers/registry.terraform.io/hashicorp/google/4.51.0/windows_amd64/terraform-provider-google_v4.51.0_x5.exe
terraform/.terraform.lock.hcl
terraform/secret.tfvars
terraform/variables.tfvars
**secret.json**
src/model/data/*
src/model/data/**
**/.terraform/*


*.tfstate
*.tfstate.*


crash.log
crash.*.log

*.tfvars
*.tfvars.json
override.tf
override.tf.json
*_override.tf
*_override.tf.json

.terraformrc
terraform.rc

**.ipynb
env/
sveltekit-chess-env/
chess-model-env/
.ipynb_checkpoints/
.vscode/